@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: transparent;
    --foreground: #171717;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--foreground);
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}